<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body class="home_body">
<h1 class="main_head">Вход</h1>
<img class="logo" th:src="@{/images/pizza.png}"/>
<div th:if="${error}">
    Unable to login. Check your username and password.
</div>
<p class="main_text login_text">Впервые у нас? Нажмите
    <a th:href="@{/register}">здесь</a> чтобы зарегестрироваться.</p>
<form class="main_text login_form" method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">Логин: </label>
    <input type="text" name="username" id="username" /><br/>
    <label for="password">Пароль: </label>
    <input type="password" name="password" id="password" /><br/>
    <input type="submit" value="Войти"/>
</form>
</body>
</html>